@import "sass/helpers/variables";
@import "sass/helpers/mixins";

@import "sass/layout/header";
@import "sass/pages/home";
@import "sass/components/buttons";
@import "sass/layout/footer";

// style the header
header.header {
  background-image: url(images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-bottom-left-radius: 20%;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    @extend %centering;
    color: $white-color;
    border-bottom-left-radius: 20%;

    .heading {
      h1 {
        width: 70%;
        text-transform: capitalize;
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 3px;

        @media (max-width: $medium) {
          width: 100%;
          font-size: 2.5rem;
        }
      }
    }

    .exp {
      p {
        margin: 3rem 0;
        width: 50%;
        font-size: 1.1rem;

        @media (max-width: $medium) {
          width: 80%;
        }
      }
    }
  }
}

// style section our work
section.our-work {
  margin: 7rem auto 3rem;

  .works {
    img {
      height: 100%;
      width: 100%;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }

    h2 {
      color: $blued-color;
      font-weight: 600;
      text-transform: capitalize;
      margin: 2rem;
    }
  }
}

// style section about
section.about {
  background-color: #eee;
  @extend %centering;
  margin: 4rem 0 6rem;
  padding: 5rem 0;

  img {
    width: 100%;
    height: 100%;
    @extend %border-radius;
    z-index: 111;
  }

  .exp-year {
    // padding: 4rem 2.5rem 4rem auto;
    margin: 5rem 1rem;

    div.year {
      padding-left: 2rem;
      border-left: 10px solid $blued-color;
      font-size: 3rem;
      color: $blued-color;
      width: 100%;

      @media (max-width: $small) {
        font-size: 2rem;
      }

      span {
        color: $gold-color;
        font-weight: bold;
        font-size: 5rem;
      }
    }

    .exp-content {
      margin: 3rem;

      .heading-text {
        @extend %heading;
      }

      p {
        @extend %allp;
        margin: 2rem auto;
        font-size: 1.1rem;

        @media (max-width: $small) {
          width: 100%;
        }
      }

      a {
        @extend %button;
      }
    }
  }
}

// style section services
section.services {
  margin: 4rem 0;

  .heading-text {
    @extend %heading;
    width: auto;
  }

  .service {
    margin: 2rem 0;
    i {
      color: $gold-color;
      width: 5rem;
      height: 5rem;
      background-color: $white-color;
      margin: 3rem 0 1.7rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      @extend %border-radius;
      @extend %centering;
    }

    h4 {
      color: $blued-color;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: capitalize;
    }

    p {
      @extend %allp;
      width: 90%;
      margin-top: 1.5rem;
    }
  }
}

//style section gallery
section.gallery {
  margin: 4rem 0 2rem;
  // border: 1px solid red;
  padding: 5rem 0;

  h3.heading-text {
    @extend %heading;
    margin-bottom: 4rem;
  }

  .gallery-img {
    &:hover {
      .overlay-img {
        transform: translate(0%, -156%);
        -webkit-transform: translate(0%, -156%);
        -moz-transform: translate(0%, -156%);
        -ms-transform: translate(0%, -156%);
        -o-transform: translate(0%, -156%);
        visibility: visible;
        z-index: 13;
      }
    }
    img {
      width: 100%;
      height: 100%;
      margin-bottom: 5rem;
      @extend %border-radius;
      position: relative;
    }

    .overlay-img {
      position: absolute;
      transform: translate(-100%, -156%);
      height: 200px;
      width: 380px;
      background-color: $blued-color;
      color: $white-color;
      @extend%centering;
      flex-direction: column;
      transition: all 0.5s ease-in;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      -webkit-transform: translate(-100%, -156%);
      -moz-transform: translate(-100%, -156%);
      -ms-transform: translate(-100%, -156%);
      -o-transform: translate(-100%, -156%);
      visibility: hidden;
      z-index: -4102;
      .overlay-border {
        border-left: 2px solid $white-color;
        border-bottom: 2px solid $white-color;
        padding: 2rem 4rem;
        span {
          margin-bottom: 1rem;
          text-transform: uppercase;
        }

        address {
          text-transform: capitalize;
        }
      }
      @media (min-width: $medium) and (max-width: $large) {
        width: 300px;
        height: 160px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-bottom-right-radius: 0;
      }
    }
  }
}

// style section achievements
section.achievement {
  background-image: url(images/achievements.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  @extend %border-radius2;
  margin-bottom: 5rem;

  .overlay {
    height: 100%;
    background-color: $overlay-color;
    color: $white-color;
    @extend %centering;
    @extend %border-radius2;

    h3 {
      @extend %heading;
      color: $white-color;
      margin-bottom: 5rem;

      @media (max-width: $small) {
        margin-bottom: 0rem;
        font-size: 1.5rem;
      }
    }

    .clients {
      padding: 2rem;

      .icon {
        color: $gold-color;
        margin: 1.2rem 0;
      }

      span {
        font-weight: bold;
        font-size: 3rem;
        margin: 1.2rem 0;
      }
    }
  }
}

// style section team
section.team {
  margin: 4rem 0;

  h3 {
    @extend %heading;
  }

  .member {
    margin-top: 2rem;
    position: relative;

    &:hover {
      .social-links {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        // visibility: visible;
        opacity: 1;
      }
    }

    .img {
      img {
        width: 100%;
        height: 100%;
        @extend %border-radius;
      }
    }

    .social-links {
      position: absolute;
      top: 1rem;
      left: 3rem;
      transform: translateX(-110px);
      -webkit-transform: translateX(-110px);
      -moz-transform: translateX(-110px);
      -ms-transform: translateX(-110px);
      -o-transform: translateX(-110px);
      //visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-in;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;

      @media (min-width: $small) and (max-width: $large) {
        top: 1rem;
      }

      @media (max-width: $medium) {
        opacity: 1;
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
      }
      div {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #eee;
        @extend %centering;
        margin-bottom: 0.5rem;

        @media (min-width: $small) and (max-width: $large) {
          width: 2rem;
          height: 2rem;
        }

        a {
          color: $grey-color;
          transition: all 0.5s ease-out;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;

          &:hover,
          &:focus {
            color: $gold-color;
          }
        }
      }
    }

    h2 {
      color: $blued-color;
      font-weight: 600;
      text-transform: capitalize;
      margin: 1.5rem auto;
    }
    p {
      @extend %allp;
    }
  }
}

// style section clients
section.clients {
  background-image: url(images/contact-bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  @extend %border-radius2;
  margin-bottom: 5rem;

  .overlay {
    height: 100%;
    background-color: $overlay-color;
    color: $white-color;
    @extend %border-radius2;

    h3 {
      @extend %heading;
      color: $white-color;
      padding: 3rem 0;

      @media (max-width: $small) {
        margin-bottom: 0rem;
        font-size: 1.5rem;
      }
    }

    .carousel {
      .carousel-indicators {
        margin: -5rem 0;
        img {
          height: 5rem;
          width: 5rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          @extend %border-radius;
          margin: 1rem;
        }
      }
      .carousel-inner {
        .carousel-item {
          @extend %centering;
          justify-content: space-between;
          flex-direction: column;

          img {
            width: 300px;
            height: 300px;
            border: 5px solid $blued-color;
            @extend %border-radius;
            margin-bottom: 15%;
          }
        }
      }
    }
  }
}

// style section contact
section.contact {
  margin: 4rem;
  padding: 2rem;

  @media (max-width: $small) {
    width: 100%;
    margin: 4rem 0;
  }

  h3 {
    @extend %heading;
    margin-bottom: 3rem;

    @media (max-width: $large) {
      margin-bottom: 2rem;
    }
  }

  .get-in {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    form {
      input {
        padding: 1.1rem;
        border-color: $border-input;
        margin: 1.8rem 0;
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;

        &:hover,
        &:active,
        &:focus {
          border-color: $gold-color;
          caret-color: $blued-color;
          box-shadow: none;
          outline: none;
        }
      }

      textarea {
        padding-top: 0.5rem;
        border-color: $border-input;
        margin: 1.8rem 0;
        border-radius: 0.3rem;

        &:hover,
        &:active,
        &:focus {
          border-color: $gold-color;
          caret-color: $blued-color;
          box-shadow: none;
          outline: none;
        }
      }

      button {
        @extend %button;
        margin-top: 1.1rem;
      }
    }
  }

  .contact-us {
    p {
      @extend %allp;
      font-size: 1.1rem;
      margin-bottom: 2.5rem;
    }

    ul {
      li {
        padding: 0;
        margin-bottom: 1rem;

        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-decoration: none;
          i {
            width: 50px;
            height: 50px;
            background-color: $gold-color;
            color: $white-color;
            @extend%centering;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
          }
          span {
            @extend %allp;
            margin-left: 1rem;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

// style section footer links
footer.links {
  margin: 4rem 0 0rem;
  background-image: url(images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  @extend %border-radius2;
  border-bottom-right-radius: 0;

  .overlay {
    height: 100%;
    // background-color: $overlay-color;
    background-color: rgba(26, 49, 84, 0.9);
    color: $white-color;
    @extend %border-radius2;
    // @extend %centering;
    flex-direction: column;
    border-bottom-right-radius: 0;
    padding: 3rem 0;

    h3 {
      @extend %heading;
      color: $white-color;
      // text-align: center;
      margin-bottom: 1rem;
    }

    a {
      color: $gold-color;
      font-size: 2.5rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }

    p {
      width: 100%;
      margin-top: 1.5rem;
      line-height: 1.5;
      font-size: 1.1rem;
    }

    ul {
      li {
        list-style: none;
        padding: 0;
        // text-align: center;
        margin: 0.5rem 0;
        text-transform: capitalize;
        font-size: 1.1rem;
      }
    }

    .dev {
      p {
        text-transform: capitalize;
        font-size: 1.2rem;
        word-spacing: 3px;

        span {
          color: $gold-color;
        }

        span.heart {
          color: red;
          font-size: 2.5rem;
        }
      }
    }
  }
}
