// colors
$white-color: #fff;
$grey-color: #6c7284;
$grey-color2: #eee;
$blued-color: #1a3b5f;
$gold-color: #ffb316;
$nav-item-color: #222;
$overlay-color: rgba(26, 49, 84, 0.6);
$border-input: #677284;

// media query
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
